[AWS]
AWS_KEY = 
AWS_SECRET = 

[DWH]
DWH_CLUSTER_TYPE = single-node
DWH_NUM_NODES = 1
DWH_NODE_TYPE = dc2.large
DWH_CLUSTER_IDENTIFIERR = youtube-api-2023
DB_NAME = d2b_accessment
USERNAME = ajiyemma1238
PASSWORD = Nv3lHXK3RY
PORT = 5432
STAGING_SCHEMA = ajiyemma1238_staging
DWH_ANALYTICS_SCHEMA = ajiyemma1238_analytics
DWH_I_AM_ROLE_NAME = new-s3-redshift  
DWH_END_POINT = d2b-internal-assessment-dwh.cxeuj0ektqdz.eu-central-1.rds.amazonaws.com
HOST = 34.89.230.185

[s3]
s3_buckets = data2bots